# 读写表格类文件

In [1]:
import numpy as np
import pandas as pd

In [3]:
yasi = pd.read_csv('data/yasi.csv') # 文件名不能包含中文
yasi # 坐标自动添加了索引

   序号       课程  姓名   听力   阅读   写作   口语    总分    平均分  最终得分
0   1  雅思冲刺三个月  豆豆  5.0  6.0  5.5  6.5  23.0  5.750   6.0
1   2  雅思冲刺三个月  小柒  6.0  6.5  6.0  5.5  24.0  6.000   6.0
2   3  雅思冲刺三个月  丁子  7.0  6.5  5.0  6.0  24.5  6.125   6.0
3   4  雅思冲刺三个月  艾力  7.0  7.5  5.0  5.5  25.0  6.250   6.5
4   5  雅思冲刺三个月  舒九  6.5  8.0  5.5  5.5  25.5  6.375   6.5
5   6  雅思冲刺三个月  张三  7.5  7.0  6.0  6.0  26.5  6.625   6.5
6   7  雅思冲刺三个月  丽思  8.0  7.0  6.0  6.0  27.0  6.750   7.0
7   8  雅思冲刺三个月  吴想  7.0  7.5  6.5  6.5  27.5  6.875   7.0

In [5]:
yasi.to_csv('data/pandas_yasi.csv',index=False) # 导出 index=False 不导出pandas自动附加的行索引

In [6]:
pd.read_csv('data/pandas_yasi.csv') # 把刚刚导出的 再读进来

   序号       课程  姓名   听力   阅读   写作   口语    总分    平均分  最终得分
0   1  雅思冲刺三个月  豆豆  5.0  6.0  5.5  6.5  23.0  5.750   6.0
1   2  雅思冲刺三个月  小柒  6.0  6.5  6.0  5.5  24.0  6.000   6.0
2   3  雅思冲刺三个月  丁子  7.0  6.5  5.0  6.0  24.5  6.125   6.0
3   4  雅思冲刺三个月  艾力  7.0  7.5  5.0  5.5  25.0  6.250   6.5
4   5  雅思冲刺三个月  舒九  6.5  8.0  5.5  5.5  25.5  6.375   6.5
5   6  雅思冲刺三个月  张三  7.5  7.0  6.0  6.0  26.5  6.625   6.5
6   7  雅思冲刺三个月  丽思  8.0  7.0  6.0  6.0  27.0  6.750   7.0
7   8  雅思冲刺三个月  吴想  7.0  7.5  6.5  6.5  27.5  6.875   7.0

In [8]:
salary = pd.read_excel('data/工资表.xlsx',sheet_name='2018-4') # 读取Excle文件
salary

,序号,姓名,工作岗位,基本工资,Unnamed: 4,保险/(元),生产天数,法定休息日,请假天数,上月多/少发,工龄奖,请假扣除,补助,加班费,实发工资(元)
0,NaN,NaN,NaN,(元/月),元,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,A,董事长,1000,NaN,NaN,23.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1000.0
2,2.0,Z,总经理,4000,NaN,NaN,23.0,7.0,NaN,NaN,NaN,NaN,NaN,510.0,4510.0
3,3.0,X,机器操作工人,3600,NaN,243.0,23.0,7.0,NaN,NaN,NaN,NaN,157.0,510.0,4510.0
4,4.0,C,机器操作工人,2500,NaN,243.0,22.0,7.0,1.0,NaN,NaN,96.0,157.0,350.0,3154.0
5,5.0,B,普通工人,73元/天,NaN,243.0,23.0,7.0,NaN,15.0,80.0,NaN,157.0,360.0,2534.0
6,6.0,N,普通工人,1800,NaN,NaN,15.0,7.0,8.0,NaN,NaN,553.0,NaN,200.0,1447.0
7,7.0,M,普通工人,73元/天,NaN,NaN,21.5,7.0,1.5,84.0,NaN,NaN,NaN,360.0,2014.0
8,8.0,J,普通工人,73元/天,NaN,NaN,23.0,7.0,NaN,84.0,NaN,NaN,NaN,360.0,2123.0
9,9.0,K,财务,1400,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1400.0
10,NaN,合计,NaN,NaN,NaN,729.0,NaN,NaN,NaN,NaN,NaN,NaN,471.0,NaN,22692.0

In [10]:
pd.read_excel('data/工资表.xlsx',sheet_name='2018-4').to_excel('data/pandas工资表.xlsx',index=False,sheet_name='表1') #又读又写

### GroupBy方法

In [12]:
group_salary = salary.groupby('工作岗位') # 根据岗位着一列，将相同公族哦岗位的 行 合并到一起

In [13]:
group_salary.mean() # 平均值

,序号,保险/(元),生产天数,法定休息日,请假天数,上月多/少发,工龄奖,请假扣除,补助,加班费,实发工资(元)
工作岗位,,,,,,,,,,,
总经理,2.0,NaN,23.000,7.0,NaN,NaN,NaN,NaN,NaN,510.0,4510.0
普通工人,6.5,243.0,20.625,7.0,4.75,61.0,80.0,553.0,157.0,320.0,2029.5
机器操作工人,3.5,243.0,22.500,7.0,1.00,NaN,NaN,96.0,157.0,430.0,3832.0
董事长,1.0,NaN,23.000,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1000.0
财务,9.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1400.0

In [14]:
group_salary.sum() #求总和

,序号,保险/(元),生产天数,法定休息日,请假天数,上月多/少发,工龄奖,请假扣除,补助,加班费,实发工资(元)
工作岗位,,,,,,,,,,,
总经理,2.0,0.0,23.0,7.0,0.0,0.0,0.0,0.0,0.0,510.0,4510.0
普通工人,26.0,243.0,82.5,28.0,9.5,183.0,80.0,553.0,157.0,1280.0,8118.0
机器操作工人,7.0,486.0,45.0,14.0,1.0,0.0,0.0,96.0,314.0,860.0,7664.0
董事长,1.0,0.0,23.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0
财务,9.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1400.0

In [15]:
group_salary.describe() # 所有相关参数：数量 平均值 最大值....

       上月多/少发                                                保险/(元)         \
        count  mean        std   min   25%   50%   75%   max  count   mean
工作岗位
总经理       0.0   NaN        NaN   NaN   NaN   NaN   NaN   NaN    0.0    NaN
普通工人      3.0  61.0  39.837169  15.0  49.5  84.0  84.0  84.0    1.0  243.0
机器操作工人    0.0   NaN        NaN   NaN   NaN   NaN   NaN   NaN    2.0  243.0
董事长       0.0   NaN        NaN   NaN   NaN   NaN   NaN   NaN    0.0    NaN
财务        0.0   NaN        NaN   NaN   NaN   NaN   NaN   NaN    0.0    NaN

        ...     请假天数       请假扣除
        ...      75%  max count   mean std    min    25%    50%    75%    max
工作岗位    ...
总经理     ...      NaN  NaN   0.0    NaN NaN    NaN    NaN    NaN    NaN    NaN
普通工人    ...    6.375  8.0   1.0  553.0 NaN  553.0  553.0  553.0  553.0  553.0
机器操作工人  ...    1.000  1.0   1.0   96.0 NaN   96.0   96.0   96.0   96.0   96.0
董事长     ...      NaN  NaN   0.0    NaN NaN    NaN    NaN    NaN    NaN    NaN
财务      ...      NaN  NaN   0.0    NaN NaN    NaN    NaN    NaN    NaN    NaN

[5 rows x 88 columns]

In [16]:
group_salary.describe().transpose() # 行和列反转

工作岗位              总经理         普通工人       机器操作工人     董事长      财务
上月多/少发  count     0.0     3.000000     0.000000     0.0     0.0
        mean      NaN    61.000000          NaN     NaN     NaN
        std       NaN    39.837169          NaN     NaN     NaN
        min       NaN    15.000000          NaN     NaN     NaN
        25%       NaN    49.500000          NaN     NaN     NaN
        50%       NaN    84.000000          NaN     NaN     NaN
        75%       NaN    84.000000          NaN     NaN     NaN
        max       NaN    84.000000          NaN     NaN     NaN
保险/(元)  count     0.0     1.000000     2.000000     0.0     0.0
        mean      NaN   243.000000   243.000000     NaN     NaN
        std       NaN          NaN     0.000000     NaN     NaN
        min       NaN   243.000000   243.000000     NaN     NaN
        25%       NaN   243.000000   243.000000     NaN     NaN
        50%       NaN   243.000000   243.000000     NaN     NaN
        75%       NaN   243.000000   243.000000     NaN     NaN
        max       NaN   243.000000   243.000000     NaN     NaN
加班费     count     1.0     4.000000     2.000000     0.0     0.0
        mean    510.0   320.000000   430.000000     NaN     NaN
        std       NaN    80.000000   113.137085     NaN     NaN
        min     510.0   200.000000   350.000000     NaN     NaN
        25%     510.0   320.000000   390.000000     NaN     NaN
        50%     510.0   360.000000   430.000000     NaN     NaN
        75%     510.0   360.000000   470.000000     NaN     NaN
        max     510.0   360.000000   510.000000     NaN     NaN
实发工资(元) count     1.0     4.000000     2.000000     1.0     1.0
        mean   4510.0  2029.500000  3832.000000  1000.0  1400.0
        std       NaN   448.259226   958.836795     NaN     NaN
        min    4510.0  1447.000000  3154.000000  1000.0  1400.0
        25%    4510.0  1872.250000  3493.000000  1000.0  1400.0
        50%    4510.0  2068.500000  3832.000000  1000.0  1400.0
...               ...          ...          ...     ...     ...
生产天数    std       NaN     3.816084     0.707107     NaN     NaN
        min      23.0    15.000000    22.000000    23.0     NaN
        25%      23.0    19.875000    22.250000    23.0     NaN
        50%      23.0    22.250000    22.500000    23.0     NaN
        75%      23.0    23.000000    22.750000    23.0     NaN
        max      23.0    23.000000    23.000000    23.0     NaN
补助      count     0.0     1.000000     2.000000     0.0     0.0
        mean      NaN   157.000000   157.000000     NaN     NaN
        std       NaN          NaN     0.000000     NaN     NaN
        min       NaN   157.000000   157.000000     NaN     NaN
        25%       NaN   157.000000   157.000000     NaN     NaN
        50%       NaN   157.000000   157.000000     NaN     NaN
        75%       NaN   157.000000   157.000000     NaN     NaN
        max       NaN   157.000000   157.000000     NaN     NaN
请假天数    count     0.0     2.000000     1.000000     0.0     0.0
        mean      NaN     4.750000     1.000000     NaN     NaN
        std       NaN     4.596194          NaN     NaN     NaN
        min       NaN     1.500000     1.000000     NaN     NaN
        25%       NaN     3.125000     1.000000     NaN     NaN
        50%       NaN     4.750000     1.000000     NaN     NaN
        75%       NaN     6.375000     1.000000     NaN     NaN
        max       NaN     8.000000     1.000000     NaN     NaN
请假扣除    count     0.0     1.000000     1.000000     0.0     0.0
        mean      NaN   553.000000    96.000000     NaN     NaN
        std       NaN          NaN          NaN     NaN     NaN
        min       NaN   553.000000    96.000000     NaN     NaN
        25%       NaN   553.000000    96.000000     NaN     NaN
        50%       NaN   553.000000    96.000000     NaN     NaN
        75%       NaN   553.000000    96.000000     NaN     NaN
        max       NaN   553.000000    96.000000     NaN     NaN

[88 rows x 5 columns]